*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}



/*第一屏s1的样式*/
.s1{
    background:url(../img/007.jpg);
    position: relative;
    height: 100%;
    background-size: contain;
}
.s1 img{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 26%;
    margin-left: -13%;
}













