*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    transform: rotateZ(-90deg);
    margin-left: -13.5px;
    right: auto;
    left:50%;
    top:auto;
    bottom: 2%;
    width: 32px;
    height: 24px;
    animation: button1 1.5s infinite;
}
@keyframes button1{
    0%{
        buttom: 2%;
        opacity: 0.8;
    }
    100%{
        buttom:0;
        opacity: 0;
    }
}

/*音乐按钮的样式*/
#mp3Btn{
    position: absolute;
    right: 18px;
    top: 25px;
    z-index: 100;
    width: 35px;
    height: 35px;
    background: rgb(25, 23, 23);
    text-align: center;
    line-height: 39px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #292929;
    transform: rotateZ(0deg);
    animation: mp3key 4s;
    /*一直执行*/
    animation-iteration-count: infinite;
    /*匀速执行*/
    animation-timing-function:linear;
    /*默认运行动画*/
    animation-play-state:running;
}
@keyframes mp3key {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
#mp3Btn img{
    width: 12px;
}




/*第一屏s1的样式*/
.s1{
    background:url(../img/007.jpg);
    position: relative;
    height: 100%;
    background-size:100% 100%;
}
.s1 img{
    position: absolute;
    top: 6%;
    left: 50%;
    width: 26%;
    margin-left: -13%;
}
.s1 p:nth-of-type(1){
    color:#c59e51;
    font-size: 18px;
    position: absolute;
    width: 58%;
    left: 50%;
    bottom: 38%;
    margin-left: -29%;
}
.s1 p:nth-of-type(2){
    color:#c59e51;
    font-size: 18px;
    position: absolute;
    width: 56%;
    left: 50%;
    bottom: 32%;
    margin-left: -28%;
}
.s1 p:nth-of-type(3){
    color:#c59e51;
    font-size: 12px;
    position: absolute;
    width: 56%;
    left: 50%;
    bottom: 7%;
    margin-left: -28%;
}
.s1 p:nth-of-type(4){
    color:#c59e51;
    font-size: 12px;
    position: absolute;
    width: 56%;
    left: 50%;
    bottom: 10%;
    margin-left: -28%;
}

/*第二屏s2的样式*/
.s2, .s3, .s3, .s4, .s5, .s6{
    background:url("../img/009.jpg");
    position: relative;
    height: 100%;
    background-size: cover;
}
.s2 h2{
    color: #d37f41;
    font-size: 45px;
    position: relative;
    width: 12%;
    top: 6%;
    left: 8%;
}
.s2 .div1{
    position: absolute;
    top: 28%;
    left: 23%;
    width: 3%;
    height:2%;
    border-radius: 50%;
    background: #d37f41;
}
.s2 .div2{
    position: absolute;
    top: 37%;
    left: 23%;
    width: 3%;
    height:2%;
    border-radius: 50%;
    background: #d37f41;
}
.s2 .div3{
    position:absolute;
    top: 15%;
    left: 30%;
    width: 60%;
    height: 68%;
    background-color:#411c0a;
    opacity: 0.7;
    border:1px solid #c59e51;
}
.s2 .div3 img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
}
.s2 .div3 p{
    font-size: 13px;
    color:#c59e51;
}
.s2 .div3 p:nth-of-type(1){
    position: absolute;
    width: 100%;
    top: 45%;
    text-align: left;
    padding: 2px 10px;
}
.s2 .div3 p:nth-of-type(2){
    position: absolute;
    width: 100%;
    bottom: 4%;
    text-align: left;
    padding: 2px 10px;
}
.s2 .ln{
    position: absolute;
    color: #c59e51;
    opacity: 0.8;
    width: 100%;
    left: 50%;
    margin-left: -50%;
    bottom: 8%;
    font-size: 12px;
}

















