*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    transform: rotateZ(-90deg);
    margin-left: -13.5px;
    right: auto;
    left:50%;
    top:auto;
    bottom: 2%;
    width: 32px;
    height: 24px;
    animation: button1 1.5s infinite;
}
@keyframes button1{
    0%{
        buttom: 2%;
        opacity: 0.8;
    }
    100%{
        buttom:0;
        opacity: 0;
    }
}

/*音乐按钮的样式*/
#mp3Btn{
    position: absolute;
    right: 18px;
    top: 25px;
    z-index: 100;
    width: 35px;
    height: 35px;
    background: rgb(25, 23, 23);
    text-align: center;
    line-height: 39px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #292929;
    transform: rotateZ(0deg);
    animation: mp3key 4s;
    /*一直执行*/
    animation-iteration-count: infinite;
    /*匀速执行*/
    animation-timing-function:linear;
    /*默认运行动画*/
    animation-play-state:running;


}
@keyframes mp3key {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

#mp3Btn img{
    width: 12px;
}






/*第一屏s1里header的样式*/

.s1, .s2, .s3, .s4, .s5, .s6, .s7{
    background:url(../img/bj.png);
    position: relative;
    height: 100%;
}

/*动画重复循环 infinite*/
.s1 .header img:nth-of-type(1){
    width: 34px;
    position: absolute;
    top: 125px;
    left: 50px;
    animation:pulse infinite;
}

.s1 .header img:nth-of-type(2){
    width: 65px;
    position: absolute;
    top: 90px;
    right: 35px;
    animation:pulse infinite;
}
.s1 .header img:nth-of-type(3){
    width: 55px;
    position: absolute;
    top: 435px;
    left: 35px;
    animation:pulse infinite;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    position: absolute;
    top: 405px;
    right: 50px;
    animation:pulse infinite;
}
.s1 .header img:nth-of-type(5){
    width: 60%;
    position: absolute;
    left: 50%;
    top: 163px;
    margin-left: -30%;
}

/*第一屏s1里main的样式*/

.s1 .main{
    position: relative;
    top: 30%;
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width: 80%;
    margin-bottom: 20px;
}
.s1 .main p{
    color:#000;
    background: url(../img/9.png);
    width: 207px;
    margin: auto;
    background-size:contain;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
}

/*第一屏s1里footer的样式*/

.s1 .list{
    position: absolute;
    color:#01a8a1;
    width: 100%;
    font-weight: bold;
    top: 78%;
    line-height: 2;
}
.footer{
    position: absolute;
    width: 100%;
    bottom:0;
}
.footer p{
    height: 70px;
}
.footer img:nth-of-type(1){
    position: absolute;
    height: 70px;
    left: 0;
    animation: footerimg1 1.5s infinite alternate;
}
@keyframes footerimg1 {
    0%{
        left: 0;
    }
    100%{
        left:20px;
    }
}
.footer img:nth-of-type(2){
    position: absolute;
    height: 70px;
    left: -95px;
    animation: footerimg2 1.5s infinite alternate;
}
@keyframes footerimg2 {
    0%{
        left:2px;
    }
    100%{
        left:5px;
    }
}


/*第二屏s2的样式*/
.s2{
    color: #00ffce;
}
.s2 h2{
    color: #00ffce;
    font-size: 25px;
    position: relative;
    top: 12%;
}
.s2 small {
    font-size: 14px;
    display: block;
    margin-top: 10px;
    letter-spacing: 5px;
    font-size: 14px;
}
.s2 h2::before{
   background: url(../img/14.png);
    width: 80px;
    height: 20px;
    content: "";
    display: inline-block;
    background-size: contain;
    position: absolute;
    margin-top: 10px;
    margin-left: -95px;
}
.s2 h2::after{
    background: url(../img/13.png);
    width: 80px;
    height: 20px;
    content: "";
    display: inline-block;
    background-size: contain;
    position: absolute;
    top:0;
    margin-top: 10px;
    margin-left: 66px;
}
.s2 .div{
    position: absolute;
    top: 25%;
    width: 80%;
    height: 55%;
    left: 50%;
    margin-left: -40%;
}
.s2 .div img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
.s2 .div p {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 14px;
    margin-bottom: 10px;
}
.s2 .div p:nth-of-type(1){
    padding-top: 20px;
}
.s2 span{
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
    width: 120px;
    height: 25px;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -60px;
}




/*第三屏s3里的样式*/
.s3{
    color:#00ffce;
}
.s3 h2{
    font-size: 25px;
    position: relative;
    top: 12%;
}
.s3 h2 small{
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
    margin-top: 10px;
}
.s3 h2::before{
    width: 80px;
    height: 20px;
    content: "";
    background:url(../img/14.png);
    display: inline-block;
    background-size: contain;
    position: absolute;
    top:10px;
    margin-left: -95px;
}
.s3 h2::after{
    width: 80px;
    height: 20px;
    content: "";
    background:url(../img/13.png);
    display: inline-block;
    background-size: contain;
    position: absolute;
    top:10px;
    margin-left: 66px;
}
.s3 h3{
    position: absolute;
    width: 77px;
    height: 77px;
    line-height: 77px;
    border-radius: 50%;
    background: -webkit-radial-gradient(rgba(255,0,0,0),rgba(5,97,120,0.8));
}
.s3 h3:nth-of-type(1){
    top: 30%;
    left: 20%;
    animation:rubberBand infinite;
}
.s3 h3:nth-of-type(2){
    top: 30%;
    right: 20%;
    animation:rubberBand infinite;
}
.s3 h3:nth-of-type(3){
    top: 46%;
    left: 5%;
    animation:rubberBand infinite;
}
.s3 h3:nth-of-type(4){
    top: 42%;
    left: 50%;
    margin-left: -63.5px;
    width: 127px;
    height: 127px;
    line-height: 126px;
    animation:rubberBand infinite;
}
.s3 h3:nth-of-type(5){
    top: 46%;
    right: 5%;
    animation:rubberBand infinite;
}
.s3 h3:nth-of-type(6){
    top: 61%;
    left: 20%;
    animation:rubberBand infinite;
}
.s3 h3:nth-of-type(7){
    top: 61%;
   right: 20%;
    animation:rubberBand infinite;
}
.s3 .list{
    position: absolute;
    left: 50%;
    bottom: 15%;
    width: 274px;
    height: 50px;
    margin-left: -137px;
}
.s3 .list p{
    margin-left: 12px;
    line-height: 26px;
    font-size: 14px;
}



/*S4 第一屏的样式*/
.s4{
    color: #00ffce;
}
.s4 h2{
    color: #00ffce;
    font-size: 25px;
    position: relative;
    top: 12%;
}
.s4 small {
    font-size: 14px;
    display: block;
    margin-top: 10px;
    letter-spacing: 5px;
    font-size: 14px;
}
.s4 h2::before{
    background: url(../img/14.png);
    width: 80px;
    height: 20px;
    content: "";
    display: inline-block;
    background-size: contain;
    position: absolute;
    margin-top: 10px;
    margin-left: -95px;
}
.s4 h2::after{
    background: url(../img/13.png);
    width: 80px;
    height: 20px;
    content: "";
    display: inline-block;
    background-size: contain;
    position: absolute;
    top:0;
    margin-top: 10px;
    margin-left: 66px;
}
.s4 .div img:nth-of-type(1){
    width:80%;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left:-40%;
}
.s4 .div img:nth-of-type(2){
    width: 8%;
    position: absolute;
    top: 28%;
    left: 20%;
}
.s4 .div span:nth-of-type(1){
    position: absolute;
    top:28.3%;
    left: 30%;
}
.s4 .div img:nth-of-type(3){
    width: 8%;
    position: absolute;
    top:28%;
    right: 37%;
}
.s4 .div span:nth-of-type(2){
    position: absolute;
    top: 28.3%;
    right: 20%;
    color:#00bdff;
}

.s4 .div .div1 img:nth-of-type(1){
    width: 5%;
    position: absolute;
    top: 35%;
}
.s4 .div1 p:nth-of-type(1){
    font-size: 17px;
    position: absolute;
    left: 15%;
    top: 35%;
}
.s4 .div .div1 span{
    font-size: 16px;
    position: absolute;
    left: 38%;
    color:#fff;
    top: 35.5%;
}
.s4 .div .div1 img:nth-of-type(2){
    width: 65%;
    height: 13px;
    top: 39%;
    left: 50%;
    margin-left: -37.5%;
}
.s4 .div .div1 p:nth-of-type(2){
    font-size: 14px;
    position: absolute;
    right: 12%;
    top: 38.5%;
}
.s4 .div .div1 img:nth-of-type(3){
    width: 32.5%;
    height: 13px;
    top: 42%;
    left: 15%;
}
.s4 .div .div1 p:nth-of-type(3){
    font-size: 14px;
    position: absolute;
    right: 38%;
    top: 41.5%;
    color:#00c1ff;
}


.s4 .div .div2 img:nth-of-type(1){
    width: 5%;
    position: absolute;
    top: 48%;
}
.s4 .div .div2 p:nth-of-type(1){
    font-size: 17px;
    position: absolute;
    left: 15%;
    top: 48%;
}
.s4 .div .div2 span{
    font-size: 16px;
    position: absolute;
    left: 38%;
    color:#fff;
    top: 48.6%;
}
.s4 .div .div2 img:nth-of-type(2){
    width: 58%;
    height: 13px;
    top: 52%;
    left: 50%;
    margin-left: -37.5%;
}
.s4 .div .div2 p:nth-of-type(2){
    font-size: 14px;
    position: absolute;
    right: 15%;
    top: 51.5%;
}
.s4 .div .div2 img:nth-of-type(3){
    width: 28%;
    height: 13px;
    top: 55%;
    left: 15%;
}
.s4 .div .div2 p:nth-of-type(3){
    font-size: 14px;
    position: absolute;
    right: 43%;
    top: 54.7%;
    color:#00c1ff;
}


.s4 .div .div3 img:nth-of-type(1){
    width: 5%;
    position: absolute;
    top: 61%;
}
.s4 .div .div3 p:nth-of-type(1){
    font-size: 17px;
    position: absolute;
    left: 15%;
    top: 61%;
}
.s4 .div .div3 span{
    font-size: 16px;
    position: absolute;
    left: 34%;
    color:#fff;
    top: 61.6%;
}
.s4 .div .div3 img:nth-of-type(2){
    width:48%;
    height: 13px;
    top: 65%;
    left: 50%;
    margin-left: -37.5%;
}
.s4 .div .div3 p:nth-of-type(2){
    font-size: 14px;
    position: absolute;
    right: 28%;
    top: 64.5%;
}
.s4 .div .div3 img:nth-of-type(3){
    width: 23%;
    height: 13px;
    top: 68%;
    left: 15%;
}
.s4 .div .div3 p:nth-of-type(3){
    font-size: 14px;
    position: absolute;
    top: 67.7%;
    left: 40%;
    color:#00c1ff;
}
.s4 .div .div4 p:nth-of-type(1){
    text-align: center;
    font-size: 13px;
    position: absolute;
    width: 70%;
    left:50%;
    margin-left: -35%;
    top: 72%;
}
.s4 .div .div4 p:nth-of-type(2){
    text-align: center;
    font-size: 13px;
    position: absolute;
    width: 70%;
    left:50%;
    margin-left: -35%;
    top: 75%;
}

/*第五屏s5样式*/
.s5{
    color: #00ffce;
}
.s5 h2{
    color: #00ffce;
    font-size: 25px;
    position: relative;
    top: 12%;
}
.s5 small {
    font-size: 14px;
    display: block;
    margin-top: 10px;
    letter-spacing: 5px;
    font-size: 14px;
}
.s5 h2::before{
    background: url(../img/14.png);
    width: 80px;
    height: 20px;
    content: "";
    display: inline-block;
    background-size: contain;
    position: absolute;
    margin-top: 10px;
    margin-left: -95px;
}
.s5 h2::after{
    background: url(../img/13.png);
    width: 80px;
    height: 20px;
    content: "";
    display: inline-block;
    background-size: contain;
    position: absolute;
    top:0;
    margin-top: 10px;
    margin-left: 66px;
}
.s5 .div1 {
    width: 35%;
    height: 20%;
    left: 10%;
    top: 25%;
    position: absolute;
}
.s5 .div2 {
    width: 35%;
    height: 20%;
    right: 10%;
    top: 25%;
    position: absolute;
}
.s5 .div3 {
    width: 35%;
    height: 20%;
    left: 10%;
    top: 55%;
    position: absolute;
}
.s5 .div4{
    width: 35%;
    height: 20%;
    right: 10%;
    top: 55%;
    position: absolute;
}
.s5 .div1 img:nth-of-type(1),
.s5 .div2 img:nth-of-type(1),
.s5 .div3 img:nth-of-type(1),
.s5 .div4 img:nth-of-type(1){
    width: 100%;
}
.s5 .div1 img:nth-of-type(2),
.s5 .div2 img:nth-of-type(2),
.s5 .div3 img:nth-of-type(2),
.s5 .div4 img:nth-of-type(2){
    width: 80%;
    position: absolute;
    left: 50%;
    margin-left: -40%;
    top: 10%;
}
.s5 .div1 h4,
.s5 .div2 h4,
.s5 .div3 h4,
.s5 .div4 h4{
    font-size: 13px;
    position: absolute;
    left: 15%;
    bottom:0;
}
.s5 .div1 span,
.s5 .div2 span,
.s5 .div3 span,
.s5 .div4 span{
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
    width: 100px;
    height: 25px;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    display: inline-block;
    position: absolute;
    bottom: -20%;
    left: 50%;
    margin-left: -50px;
}

/*第六屏S6样式*/

.s6{
    color: #00ffce;
}
.s6 h2{
    color: #00ffce;
    font-size: 25px;
    position: relative;
    top: 12%;
}
.s6 small {
    font-size: 14px;
    display: block;
    margin-top: 10px;
    letter-spacing: 5px;
    font-size: 14px;
}
.s6 h2::before{
    background: url(../img/14.png);
    width: 80px;
    height: 20px;
    content: "";
    display: inline-block;
    background-size: contain;
    position: absolute;
    margin-top: 10px;
    margin-left: -95px;
}
.s6 h2::after{
    background: url(../img/13.png);
    width: 80px;
    height: 20px;
    content: "";
    display: inline-block;
    background-size: contain;
    position: absolute;
    top:0;
    margin-top: 10px;
    margin-left: 66px;
}
.s6 .div1{
    width: 80%;
    height: 21%;
    left: 50%;
    top:23%;
    margin-left: -40%;
    position: absolute;
}
.s6 .div2{
    width: 80%;
    height: 21%;
    left: 50%;
    top:45%;
    margin-left: -40%;
    position: absolute;
}
.s6 .div3{
    width: 80%;
    height: 21%;
    left: 50%;
    top:67%;
    margin-left: -40%;
    position: absolute;
}
.s6 .div1 img:nth-of-type(1){
    position: absolute;
    left: 0;
}
.s6 .div2 img:nth-of-type(1){
    position: absolute;
    left: 0;
    top: -10%;
}
.s6 .div3 img:nth-of-type(1){
    position: absolute;
    left: 0;
    top: -15%;
}
.s6 .div1 img:nth-of-type(2),
.s6 .div2 img:nth-of-type(2),
.s6 .div3 img:nth-of-type(2){
    width: 100%;
    position: absolute;
    left: 10%;
}
.s6 .div1 p:nth-of-type(1),
.s6 .div2 p:nth-of-type(1),
.s6 .div3 p:nth-of-type(1){
    color:#000;
    position: absolute;
    left: 15%;
    top: 5%;
    font-size: 18px;
    letter-spacing: 2px;
}
.s6 .div1 img:nth-of-type(3),
.s6 .div2 img:nth-of-type(3),
.s6 .div3 img:nth-of-type(3){
    width: 90%;
    left: 10%;
    position: absolute;
    top: 30%;
}
.s6 .div1 p:nth-of-type(2),
.s6 .div2 p:nth-of-type(2),
.s6 .div3 p:nth-of-type(2){
    color:#04dab8;
    position: absolute;
    left: 15%;
    font-size: 14px;
    top: 40%;
}
.s6 .div1 p:nth-of-type(3),
.s6 .div2 p:nth-of-type(3),
.s6 .div3 p:nth-of-type(3){
     color:#04dab8;
     position: absolute;
        left: 15%;
     font-size: 14px;
     top: 55%;
 }
.s6 .div1 p:nth-of-type(4),
.s6 .div2 p:nth-of-type(4),
.s6 .div3 p:nth-of-type(4){
    color:#04dab8;
    position: absolute;
    left: 15%;
    font-size: 14px;
    top: 70%;
}

/*第七屏s7样式*/

.s7{
    color: #00ffce;
}
.s7 h2{
    color: #00ffce;
    font-size: 25px;
    position: relative;
    top: 12%;
}
.s7 small {
    font-size: 14px;
    display: block;
    margin-top: 10px;
    letter-spacing: 5px;
    font-size: 14px;
}
.s7 h2::before{
    background: url(../img/14.png);
    width: 80px;
    height: 20px;
    content: "";
    display: inline-block;
    background-size: contain;
    position: absolute;
    margin-top: 10px;
    margin-left: -95px;
}
.s7 h2::after{
    background: url(../img/13.png);
    width: 80px;
    height: 20px;
    content: "";
    display: inline-block;
    background-size: contain;
    position: absolute;
    top:0;
    margin-top: 10px;
    margin-left: 66px;
}
.s7 .div1{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    margin-left: -40%;
    top: 23%;
}
.s7 .div1 img:nth-of-type(1){
    width: 100%;
}
.s7 .div1 input:nth-of-type(1){
    position: absolute;
    width: 80%;
    height: 10%;
    top:10%;
    left: 50%;
    margin-left: -40%;
    border:2px solid #047c73;
}
.s7 .div1 input:nth-of-type(2){
    position: absolute;
    width: 80%;
    height: 10%;
    top:22%;
    left: 50%;
    margin-left: -40%;
    border:2px solid #047c73;
}
.s7 .div1 input:nth-of-type(3){
    position: absolute;
    width: 80%;
    height: 10%;
    top:34%;
    left: 50%;
    margin-left: -40%;
    border:2px solid #047c73;
}
.s7 .div1 .an{
    position: absolute;
    width: 80%;
    height: 10%;
    top:48%;
    left: 50%;
    margin-left: -40%;
    background-color: #00f2ca;
    color:#fff;
    text-align: center;
}
.s7 .div1 p:nth-of-type(1){
    color: #00a798;
    bottom: 35%;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    position: absolute;
    font-size: 14px;
}
.s7 .div1 p:nth-of-type(2){
    color: #00a798;
    bottom: 32%;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    position: absolute;
    font-size: 14px;
}




