*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	}
li{
	list-style: none;
}
body{
	width: 1200px;
	margin: auto;
}
#top{
	width: 430px;
	height: 100px;
	margin:  auto;
}
#top ul li{
	float: left;
}
#top ul li a{
	padding: 20px;
	display: inline-block;
	color:#000;
}
#top ul li a:hover{
	color:blue;
	border-bottom:1px solid blue;
}
ul .n{
	padding: 20px;
	color:blue;
	border-bottom:1px solid blue;
}
#zj{
	width: 430px;
	margin: auto;
	text-align: center;
}
#zj img{
	margin: auto;
	padding-bottom: 10px;
}
input{
	width: 310px;
	height: 50px; 
	border:1px solid #ccc;
}
button{
	width: 120px;
	height: 52px;
	margin-left: -10px;
	background-color: #3388ff;
	color:#fff;
}
#xtb{
	width: 430px;
	height: 70px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 30px;
}
#xtb ul li{
	float: left;
	width: 35px;
	margin-left: 33px;
};
#xtb ul::after{
	display: table;
	clear: both;
	content: "";
}
.dian{
	width: 150px;
	height: 20px;
	float: left;
	text-align: center;
}


#app{
	width: 430px;
	margin: auto;
	margin-bottom: 40px;
}
#app ul li{
	margin-top: 38px;
}
#app h1{
	font-size: 21px;
	color:#000;
	margin-bottom: 12px;
}
#app span{
	color:#999999;
	margin-left: 10px;
}
#app li:nth-child(1) span:nth-child(5){
	border: 1px solid red;
	color:red;
}
#app li:nth-child(2) span:nth-child(5){
	border: 1px solid red;
	color:red;
}
#app li:nth-child(3) span:nth-child(5){
	border: 1px solid red;
	color:red;
}
#app li:nth-child(5) span:nth-child(5){
	border: 1px solid red;
	color:red;
}
#app li:nth-child(10) span:nth-child(5){
	border: 1px solid red;
	color:red;
}
#app li:nth-child(11) span:nth-child(5){
	border: 1px solid red;
	color:red;
}
#app li:nth-child(13) span:nth-child(5){
	border: 1px solid red;
	color:red;
}

#app img{
	margin-top: 8px;
	margin-bottom: 12px;
}
#footer{
	width: 430px;
	margin: auto;
	text-align: center;
}
#footer p{
	margin-top: 20px;
	margin-bottom: 20px;
}


